body {
    font-family: "Comic Sans MS";
    background-image: url(gfx/tlo.png);
    height: auto;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header {
    height: 80px;
    display: grid;
    text-align: center;
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr;
}
#wynik_p {
    height: 100%;
    width: 100px;
    font-size: clamp(1.8rem, 4vw + 1rem, 3.5rem);
    margin-top: 0;
    text-align: center;
}
h1 {
    font-size: clamp(1.8rem, 4vw + 1rem, 3.5rem);
    margin-top: 0;
    padding: 0 0 0 0;
}
#new_game {
    width: 300px;
    float: right;
    font-size: 25px;
    background: none;
    border: none;
    cursor: pointer;
}
#punkty {
    font-size: 25px;
}
main {
    height: 778px;
}
#gra, #settings {
    width: 100%;
    height: 100%;
}
#gra {
    display: none;
}
#end {
    display: none;
}

#aktualna_liczba{
    text-align: center;
    margin-top: 270px;
    margin-left: 5px;
    font-size: clamp(1.8rem, 4vw + 1rem, 3.5rem);
    color:  black;
}
#result{
    padding-top: 20px;
    text-align: center;
    font-size: clamp(1.8rem, 4vw + 1rem, 3.5rem);
}
#restart{
    margin-left: 30%;
    margin-top: 35%;
    height: 100px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: block;
    width: 50px;      
    height: auto;
}
#napis{
    font-family: "Comic Sans MS";
    background-color: rgba(255, 255, 255, 0.7); 
    border-radius: 12px;                       
    padding: 15px 50px;                        
    margin-top: 6px;
}
#napis1{
    font-family: "Comic Sans MS";
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 12px;                       
    padding: 15px 50px;                        
    margin-top: 6px;
}
#napis3{
    font-family: "Comic Sans MS";
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 12px;                       
    padding: 15px 50px;                        
    margin-top: -120px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;

}
#kaczka{
    padding-top: 0px;
}
